.wiki-image-text{
    height: 67px;
    width: 25%;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 7px;
}
.wikipedia-image{
    height: 51px;
    width: 22%;
    /* border: 1px solid black; */
    background-image: url(https://en.wikipedia.org/static/images/icons/wikipedia.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 40%;
}

.wiki-text-images{
    height: 53px;
    width: 60%;
    /* border: 1px solid black;  */
}
.wikipedia{
    height: 34%;
    width: 94%;
    /* border: 1px solid black; */
    background-image: url(https://en.wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-en.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top:7px ;
    margin-left: 15px;
}
.Free-Encyclopedia{
    height: 24%;
    width: 90%;
    /* border: 1px solid black; */
    background-image: url(https://en.wikipedia.org/static/images/mobile/copyright/wikipedia-tagline-en.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top:5px ;
    margin-left: 15px;
}