.about-peacock-container-section{
    min-height: 400px;
    width: 90%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.links-holder{
    height: 400px;
    width: 20%;
    border: 1px solid black;
    position: sticky;
    top: 1px;
    
}
.links-text-holder{
    min-height: 400px;
    width: 80%;
    border: 1px solid black;
}





/* Peafowl heading CSS------------------------------------------------------------- */

.peafowl-heading{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: flex-end;
}
.text{
    height: 31px;
    width: 97%;
    /* border-bottom: 1px solid rebeccapurple; */
    font-size: 30px;
    
}
.l61-languages{
    height: 17px;
    width: 11%;
    /* border: 1px solid rebeccapurple; */
    font-weight: 550;
    font-size: 14px;
}
/* Peafowl heading CSS------------------------------------------------------------- */




/* Below Below bar navbar---------------------------------------------------- */
.below-bar{
    height: 33px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.l2inks{
    width: 9%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name-link2{
    font-size: 15px;
}


.l4inks{
    width: 22%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.name-link4{
    margin-right: 7px;
    font-size: 15px;
}
/* Below Below bar navbar --------------------------------------------------------*/








/* Quotes starts here................................................................. */

.free-encyclopedia{
    height: 33px;
    width: 100%;
    border: 1px solid black;
    font-size: 15px;
    padding: 6px 0px;
}
.peacock-streamingservice{
    height: 33px;
    width: 100%;
    border: 1px solid black;
    
    
}
.textquote{
    height: 14px;
    width: 100%;
    border: 1px solid black;
    font-size: 14px;
    margin-left: 32px;
    font-style: italic;
    
}


/* Quotes ends here................................................................. */






.peafowl-intro{
    height: 100px;
    width: 100%;
    border: 1px solid red;
}
p{
    min-height: 100px;
    width: 100%;
    border: 1px solid red;
}



